:root {
  --navy-blue-color: #2E2F42;
  --slate-color: #434455;
  --iris-color: #4D5AE5;
  --ocean-color: #404BBF;
  --cloud-color: #F4F4FD; 
  --cornflower-color: #E7E9FC;
  --light-slate-color: #8E8F99;
  --green-color: #31D0AA;
}


body{
  font-family: 'Roboto',
    sans-serif;
  font-size: 16px; 
  background-color: #fff;
  color: var(--slate-color);
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--slate-color);
}

button {
  cursor: pointer;
  border: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-flex {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--navy-blue-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris-color);
  font-family: "Raleway", sans-serif;

  margin-right: 76px; 

    padding-top: 24px;
      padding-bottom: 24px;

}

.header-marking-word {
  color: var(--navy-blue-color);
}

.nav-list{
  display: flex;
  gap: 40px ;
}

.list-item {
  color: #404bbf;

}


.list-link {
  display: flex;
    position: relative;

  padding: 24px 0;

  font-size: 16px;
  font-weight: 500;
  color: var(--navy-blue-color);
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: var(--ocean-color);
}

.list-link::after{
      content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        width: 100%;
        background-color: var(--ocean-color);
        border-radius: 2px;
        opacity: 0;
      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:active::after,
.list-link:focus::after, 
.list-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--ocean-color);
  border-radius: 2px;

  opacity: 1;
}

.list-link:focus, 
.list-link:active, 
.list-link:hover {
  color: var(--ocean-color);

}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;

      padding-top: 24px;
        padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-list-item:not(:last-child) {
  margin-right: 40px;
}

.address-link:hover,
.address-link:active,
.address-link:focus
{
  color: var(--ocean-color);
}

.hero-image {
  background-color: var(--navy-blue-color);
  text-align: center;

  display: flex;
  flex-direction: column;

  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/Dark-bg-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
      .hero-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark-bg-x2-min.jpg');
      }
    }

.hero-title {
  color: #FFFFFF;

  max-width: 188px;
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;

  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--iris-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color:  #fff;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: 4%;
  line-height: 1.5;
  letter-spacing: 0.04em;
  
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;

  display: block;
  min-width: 169px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover,
.hero-btn:focus { 
  background-color: var(--ocean-color);
}

.card-text {
  letter-spacing: 0.02em;
}

.features-section {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.features-list-item {
    width: 100%;
    flex-shrink: 0;
}

.features-list-icon {
  display: none;

  background-color: var(--cloud-color);

    border: 1px solid var(--light-slate-color);
    padding: 24px 100px;
    margin-bottom: 8px;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  height: 112px;
    border-radius: 4px;
}

.features-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.features-list-title {
      color: var(--navy-blue-color);

      margin-bottom: 8px;
      text-align: center;

        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.03em;
        text-transform: capitalize;
}

.cards > li {
  background-color: #fff;
}

.team {
  background-color: #F4F4FD;

  padding: 96px 0;
}

.second-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
    font-weight: 500;
      font-size: 36px;
      color: var(--navy-blue-color);
      text-align: center;

      margin-bottom: 72px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.card-item {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

    border-radius: 0px 0px 4px 4px;

    flex-basis: calc((100% - 72px) / 4);
}

.card-desription {
  width: 100%;
  padding: 32px 16px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-title {
  line-height: 1.2;
  letter-spacing: 0.02em;
      font-size: 20px;
        font-weight: 500;
        color: var(--navy-blue-color);

        margin-bottom: 8px;

}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.card-social-links-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-links-item {
  width: 40px;
    height: 40px;
}



.social-links-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-links-link:hover,
.social-links-link:focus,
.social-links-link:active {
  background-color: var(--ocean-color);
}

.social-links-link-icon {
  fill: var(--cloud-color);
}

.portfolio {
  padding:  96px 0;
}

.portfolio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;

}

.portfolio-cards {
  display: flex; 
  flex-wrap: wrap;

 column-gap: 24px;
 gap: 48px;
}

.portfolio-card-items {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-items:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-items:hover .portfolio-cover-text,
.portfolio-card-items:focus .portfolio-cover-text {
  transform: translateY(0%);

}

.portfolio-cover-wrap {
  position: relative;
    overflow: hidden;

}

.portfolio-card-description {
  padding: 32px 16px;

  border: 1px solid var(--cornflower-color);
  border-top: none;

}

.portfolio-card-title {
  line-height: 1.2;
  letter-spacing: 0.02em;
    font-size: 20px;
      font-weight: 500;
      color: var(--navy-blue-color);

      margin-bottom: 8px;
}
.made-picture {
  flex-shrink: 0;
}

.portfolio-card-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}


.portfolio-cover-text {
  color: var(--cloud-color);
      font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;

          position: absolute;
            top: 0;
            background-color: var(--iris-color);
            height: 100%;
            transform: translateY(100%);
          
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 40px 32px;
}

.footer {
  background-color: var(--navy-blue-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-description {
  margin-right: 120px;
}

.footer-title{
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 18px;
  color: var(--iris-color);
  
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;

  display: inline-block;
  margin-bottom: 16px;
}

.footer-marking-word{
  color: var(--cloud-color);
}

.footer-text {
  color: var(--cloud-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-social-links {
  margin-right: 80px;
}

.social-links-title {
  color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-links-list {
  display: flex;
  gap: 16px;

}

.footer-social-links-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-links-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-link:hover,
.footer-social-links-link:focus,
.footer-social-links-link:active {
  background-color: var(--green-color);
}

.footer-social-link-icon {
  fill: var(--cloud-color);
}

.footer-form {
  display: flex;
  gap: 24px;
}

.form-title {
  color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-items-wrap {
  display: flex; 
  align-items: center;
}

.footer-form-input {
  width: 264px;
    height: 40px;
    border-radius: 4px;
      border: 1px solid #ffffff;
      background-color: transparent;

      padding-left: 16px;
          font-size: 12px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            color: #ffffff;
}

.footer-form-input::placeholder{
  color: #ffffff;
}

.footer-form-input:focus-within{
  outline: none;
  border:1px solid #4D5AE5 ;
}

.form-btn {
  display: flex;
  padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
      background: var(--IRIS, #4D5AE5);
      min-width: 165px;
      height: 40px;
      font-family: "Roboto", sans-serif;

    color: var(--WHITE, #FFF);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      cursor: pointer;
      border: none;
}

.form-btn-icon {
  margin-left: 16px;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;

  background-color: rgba(46, 47, 66, 0.40);

      opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 24px;
  padding-top: 72px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  
  border-radius: 4px;
  background-color: #FCFCFC;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.modal-close-btn {
  width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .modal-close-btn:hover,
    .modal-close-btn:focus {
      background-color: #404bbf;
      fill: #ffffff;
      border: none;
    }

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover, 
.modal-close-icon:focus {
fill: #ffffff
}

.modal-close-btn:active
 {
  background-color: var(--iris-color);
  fill: #ffffff;
  }

.modal-field {
  margin-bottom: 8px;
}

.modal-title {
  color: var(--navy-blue-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-label {
  display: block;
  gap: 4px;
  margin-bottom: 4px;

  color: var(--light-slate-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-label:last-child {
  margin-bottom: 0;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-right: 16px;
    background-color: transparent;
    outline: transparent;
    font-size: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus{
  border-color: #4D5AE5;
}


.input-wrap:focus-within .form-input {
  border: solid 1px var(--iris-color);
}

.input-wrap:focus-within .modal-input-icon {
  fill: var(--iris-color);
}

.form-text-area {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text-area:focus {
  border-color: #4D5AE5;
}

.form-text-area::placeholder {
  color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.form-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4D5AE5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:active,
.form-button:focus {
  background-color: var(--ocean-color);
}



.modal-text-field {
  margin-bottom: 16px;
}

.check-text {
  color: var(--light-slate-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.14;
    line-height: 1.17;
    letter-spacing: 0.04em;
    position: relative;
}

.check-text-box {
      display: inline-flex;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 2px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      fill: transparent;
}

.checkbox-icon-default {
  position: absolute;
  stroke-width: 1px;
    stroke: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));

}

.privacy-link {
  color: var(--iris-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
}

.modal-privacy-input {
  margin-bottom: 24px;
}

.modal-privacy-check:checked + .check-text > .check-text-box {
  fill: #F4F4FD;
  background-color:#404bbf;
  border: none;

}

.footer-form-btn{
display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
    background: var(--iris-color);
    min-width: 165px;

    color: var(--WHITE, #FFF);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:active,
.footer-form-btn:focus {
  background-color: var(--ocean-color);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero-title {
      font-size: 56px;
      font-weight: 700;
      line-height: 1.07;
      letter-spacing: 0.02em;

      max-width: 496px;
      text-transform: none;
      margin-bottom: 36px;
  }

  .hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab-min.jpg);
    padding: 112px 0;
  }

    @media (min-resolution: 192dpi) {
      .hero-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark-bg-tab-x2-min.jpg');
      }
    }

        .features-list {
          gap: 72px 24px;
        }

    .features-list-item {
      flex-basis: calc((100% - 24px) / 2);
    }

.features-list-title {
  text-align: left;
}

.cards {
  gap: 64px 24px;
}

.card-item {
  width: calc((100% - 24px) / 2);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;

  column-gap: 24px;
  gap: 72px 24px;
}

.portfolio-card-items {
  flex-basis: calc((100% - 24px) / 2);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }



  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;

    margin-bottom: 48px;
  }

  .hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    padding: 188px 0;
  }

    @media (min-resolution: 192dpi) {
      .hero-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-x2-min.jpg');
      }
    }

    .features-section {
      padding: 120px 0;
}

        .features-list {
          gap: 24px;
          flex-wrap: nowrap;
        }

    .features-list-item {
      flex-basis: calc((100% - 72px) / 4);
          flex-shrink: 0;
    }

.features-list-title {
  text-align: left;
}

.features-list-icon {
  background-color: var(--cloud-color);

  border: 1px solid var(--light-slate-color);
  padding: 24px 100px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
}

.features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.features-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team {
  padding: 120px 0;
}
.cards {
  gap: 24px;
}

.card-item {
  flex-basis: calc((100% - 96px) / 4);
}

.portfolio {
  padding: 120px 0;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;

  column-gap: 24px;
  gap: 48px 24px;
}

.portfolio-card-items {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

